In [1]:
import stocksutil as su
from decimal import *
getcontext().prec = 2

In [2]:
ticker = 'AAPL'

In [3]:
df = su.get_stock_df('AAPL')

[*********************100%***********************]  1 of 1 completed

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-09-25,108.430000,112.440002,107.669998,112.279999,111.562439,149981400
2020-09-28,115.010002,115.320000,112.779999,114.959999,114.225311,137672400
2020-09-29,114.550003,115.309998,113.570000,114.089996,113.360878,99382200
2020-09-30,113.790001,117.260002,113.620003,115.809998,115.069893,142675200
2020-10-01,117.639999,117.720001,115.830002,116.790001,116.043625,116120400
...,...,...,...,...,...,...
2021-09-20,143.800003,144.839996,141.270004,142.940002,142.940002,123478900
2021-09-21,143.929993,144.600006,142.779999,143.429993,143.429993,75834000
2021-09-22,144.449997,146.429993,143.699997,145.850006,145.850006,76404300
2021-09-23,146.649994,147.080002,145.639999,146.830002,146.830002,64838200
2021-09-24,145.660004,147.470001,145.559998,146.919998,146.919998,53434200