In [1]:
import stocksutil as su
from decimal import *
getcontext().prec = 2

In [2]:
ticker = 'AAPL'

In [3]:
df = su.get_stock_df('AAPL')

[*********************100%***********************]  1 of 1 completed

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-09-21,104.540001,110.190002,103.099998,110.080002,109.376511,195713800
2020-09-22,112.680000,112.860001,109.160004,111.809998,111.095444,183055400
2020-09-23,111.620003,112.110001,106.769997,107.120003,106.435432,150718700
2020-09-24,105.169998,110.250000,105.000000,108.220001,107.528404,167743300
2020-09-25,108.430000,112.440002,107.669998,112.279999,111.562439,149981400
...,...,...,...,...,...,...
2021-09-15,148.559998,149.440002,146.369995,149.029999,149.029999,83281300
2021-09-16,148.440002,148.970001,147.220001,148.789993,148.789993,68034100
2021-09-17,148.820007,148.820007,145.759995,146.059998,146.059998,129728700
2021-09-20,143.800003,144.839996,141.270004,142.940002,142.940002,123304600
2021-09-21,143.929993,144.600006,142.779999,143.580002,143.580002,34401423

In [11]:
df['Close'].values[-1]

143.5800018310547

In [12]:
df['Close'].values[-2]

142.94000244140625

In [ ]:
close

In [ ]:
open = df.iat[-1, 0]

In [ ]:
open

In [ ]:
change = (open-close)/open * 100

In [ ]:
change

In [ ]:
figure = su.get_rsi(df_c)